@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Wynik działania dla @ViewBag.a @ViewBag.Op @ViewBag.b = @ViewBag.Result</p>
@if (ViewBag.Result == null)
{
    <p>Brak wyniku – upewnij się, że podałeś poprawne wartości dla a, b oraz operatora.</p>
}
